{% extends 'base.html'%}
{% load static %}

{% block linkCSS %}
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
{% endblock %}




{% block content %}
<div class="card_container">
    {% for i in meals %} 
    <div class="card" style="width: 18rem;">
        <img src={{i.strMealThumb}} class="card-img-top" alt="Picture">
        <div class="card-body">
          <h5 class="card-title">{{i.strMeal}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}