<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>

    <div class="nav_container">
        <h4><a href="/">Home</a></h4>
        <h4><a href="/navhost/blog/">Blog</a></h4>
        <h4><a href="/navhost/courses/">Courses</a></h4>
        <h4><a href="/practice_app/design/">Design</a></h4>
    </div>

    <h2>Blog Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error inventore adipisci voluptatem reprehenderit temporibus. Temporibus corporis quaerat modi cumque repellendus? Animi facilis possimus aliquam incidunt pariatur exercitationem minima asperiores distinctio dolorem, porro quia est! Nisi perspiciatis autem, similique accusamus obcaecati itaque magni debitis, libero explicabo ipsa ducimus ex numquam? Non esse fuga tempora voluptatem, ullam, ab dolores cupiditate consectetur magnam aperiam qui aut natus tempore expedita ratione accusantium dolore mollitia eos earum, eaque omnis. Molestias amet error magnam excepturi dolorum consequatur facilis quidem modi, corrupti, nulla nihil? Amet, sapiente beatae cum dolorum eum dolor natus, repudiandae fugiat totam, nobis dignissimos?</p>
</body>
</html>